<!DOCTYPE html>
<html>
<head>
    <title>Query Processor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>GPTutor</h1>
    <form action="greet" method="post">
        <p>What is your question?</p>
        <br>
        <input type="text" name="name_input">
        <br>
        <input type="submit" value="Ask" id="greet" class="button-ask">
    </form>
    {% if answer %}
        <h2>Answer:</h2>
        <p>{{ answer }}</p>
    {% endif %}
</body>
</html>
